<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <h1>New User</h1>
      </header>
      <div class="card-content">
        <div class="content">
          <%= render 'form', user: @user %>
        </div>
      </div>
      <footer class="card-footer">
        <%= link_to 'Back', users_path, class:"button is-dark" %>
      </footer>
    </div>
  </div>
</div>